{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="portfolio"/>
<title>{% block title %}{% endblock title %}</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" charset="utf-8"></script>
<link href = "{% static 'kd_dot_net/styles/styles.css' %}" type="text/css" rel = "stylesheet">
<link href = "{% static 'kd_dot_net/styles/header.css' %}" type="text/css" rel = "stylesheet">
<link href = "{% static 'kd_dot_net/styles/overlay.css' %}" type="text/css" rel = "stylesheet">
<script type="text/javascript" src="{% static 'kd_dot_net/js/javascript.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'kd_dot_net/styles/pics/favicon.ico' %}" type="image/x-icon">