{% if image_list %} 
    <!-- use a variable to control ragged vs. uniform display, so index and portfolio can use the same template here -->
    <div class="{{ display_type }}">
        {% for image in image_list %}
                {% include "image_gallery/imageTile.html" %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        var state = {
            selectedPhotoIndex: null,
            photoIds: [
                {{ image_ids|join:", " }}
            ]
        }
    </script>
{% else %}
    <p>No images are available.  Tell Kyle to get shooting!</p>
{% endif %}