{% extends 'kd_dot_net/base.html' %}

{% load static %}

{% block title %} - Photos {% endblock title %}

{% block additional_head %}
<script type="text/javascript" src="{% static 'kd_dot_net/js/javascript.js' %}"></script>
{% endblock additional_head %}

{% block content %}
    <div id="gallery">
        {% include "kd_dot_net/includes/image_list.html" %}
    </div>
    <div id="overlay-photo">
        <div class="overlay-background" onclick="minimizePhoto()">
            <div class="overlay-photo-and-arrows">
                <div class="arrow-box left" id="left-arrow" onclick="navigateLeft(...arguments)">
                    <img src="{% static 'kd_dot_net/styles/pics/chevron-left-wht.png' %}" class="arrow" alt="left-arrow" />
                </div>
                <div class="photoContainer">
                    <img id="enlargedPhoto" src="" alt="photo" />
                </div>
                <div class="arrow-box right" id="right-arrow" onclick="navigateRight(...arguments)">
                    <img src="{% static 'kd_dot_net/styles/pics/chevron-right-wht.png' %}" class="arrow" alt="right-arrow" />
                </div>
            </div>
            <a onclick="minimizePhoto()" class="photo-x">x</a>
        </div>
    </div>
{% endblock content %}