{% extends 'kd_dot_net/base.html' %}

{% load static %}

{% block additional_head %}
<link href="{% static 'kd_dot_net/styles/cardDisplay.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'kd_dot_net/styles/blog.css' %}" type="text/css" rel="stylesheet">
{% endblock additional_head %}

{% block title %} - The Great Divide: {{post.title}}{% endblock title %}
{% block content %}
    <article class="description-card scrollpane">
        <figure class="header-image">
            <img src="{{ post.image.url }}" alt="{{post.title}}">
        </figure>
        <div class="mt-3">
            <h1>{{post.title}}</h1>
            <p class="text-muted">
                Published {{ post.publish.date }} by <strong>{{ post.author }}</strong>
            </p>
        </div>
        <div class="article-body">
                {{post.body|safe}}
        </div>

        <div class="buy-coffee-card">
            <img src="{% static 'kd_dot_net/styles/pics/bmc-logo-no-background.png' %}" alt="Buy me a coffee!" class="bmc-icon">
            <a href="https://www.buymeacoffee.com/kyledonahue">
                <span>P.S. If you want to support my ride, buy me a coffee or burrito!</span>
            </a>
        </div>
        
    </article>
   
{% endblock content %}