.content.blog {
    background-image: url("./pics/loch_vale.jpg");
}

.header-image {
    margin: 0;
}

.header-image img {
    width: 100%;
    height: 100%;
}

.article.description-card {
    max-width: 60rem;
    padding : 1.5rem 0 0 0;
    max-height: 80vh; /* 1 unit is 1% of viewport height */
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
}

ul.pagination.post-list-pagination {
    padding-bottom: 1rem;
}

.content.post-detail {
    background-image: url("./pics/flatirons.jpg");
    background-position: top;
}

.article-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.bmc-icon {
    max-height: 1rem;
}

.article.description-card .scrollpane {
    overflow-y: auto;
    padding: 0 2rem;
}

.next-post-card {
    padding-left: 1em;
    padding-top: 1em;
}