.content.blog {
    background-image: url("./pics/loch_vale.jpg");
}

.header-image {
    margin: 0;
}

.header-image img {
    width: 100%;
    height: 100%;
}

article.description-card {
    max-width: 60rem;
    padding: 1.5rem 2rem;
    max-height: 80vh; /* 1 unit is 1% of viewport height */
}

ul.pagination {
    padding-bottom: 1rem;
}

.content.post-detail {
    background-image: url("./pics/flatirons.jpg");
    background-position: top;
}

.article-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.bmc-icon {
    max-height: 1rem;
}

.scrollpane {
    overflow-y: auto;
}

.buy-coffee-card {
    background-color: gainsboro; /* interesting */
    border-radius: 3px;
    padding-left: 1em;
}