.description-card {
    background-color: #f4f4f4;
    padding: .3rem 2rem;
    width: 70%;
    max-width: 40rem;
    margin: 8vh auto 0 auto;
    font-family: 'Ubuntu Mono', monospace;
}

.description-card.blog-card {
    max-width: 80rem;
    border-color: #561930;
    border-radius: 0.5em;
}