/*
cool colors
teal    #1b88c6
maroon  #561930
*/

body {
    margin: 0;
    background-color: #f4f4f4;
    /* all for stretching page to full height and putting footer on bottom: */
    /* DOCS https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content {
    width: 70%;
    flex-grow: 1; /* for keeping footer on bottom */
    margin: .5rem auto .5rem auto;
}

/* prevents flex items from getting smaller when content is larger than screen */
.no-shrink {
    flex-shrink: 0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#gallery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#gallery .uniform {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* DOCS https://css-tricks.com/seamless-responsive-photo-grid/ */

#gallery div {
    text-align: center;
}

#gallery .uniform img {
    flex-basis: 31%;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 31%;
}

#gallery .ragged {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#gallery .ragged img {
    flex-basis: 0;
    aspect-ratio: var(--ratio);
    flex-grow: calc(var(--ratio));
    padding: 0 0 .5rem .5rem;
    min-width: calc(20% * var(--ratio));
}

footer {
    background-color: lightgrey;
    padding: 0 1rem;
    color: #561930;
    font-family: 'Ubuntu Mono', monospace;
}

footer p {
    margin: .2rem 0 .5rem 0;
}

footer .copyright {
    font-size: 1.5rem;
}

.content.has-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    flex-grow: 1; /* for keeping footer on bottom */
    margin: 0;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
    .content {
        width: 98%;
    }
    #gallery .uniform img {
        min-width: 100%;
        flex-basis: 100%;
    }
    #gallery .ragged {
        max-width: 100%;
    }
    #gallery .ragged img {
        padding-bottom: .25rem;
        min-width: 100%;
    }
}